<!DOCTYPE html>
<html manifest="/cache.manifest">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>极品双拼域名出售</title>
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<style>.adsense{ overflow: hidden; }</style>
</head>

<body>

<div class="container" id="app">

	<p></p>

	<div class="alert alert-success" role="alert">
		<p class="lead">好的域名是成功的开始。</p>
		<p class="lead text-right">—— 鲁迅</p>
	</div>
	
	<div class="adsense">
		<!-- 域名停靠_自适应 -->
		<ins class="adsbygoogle"
			style="display:block"
			data-ad-client="ca-pub-7104481011578148"
			data-ad-slot="6462214578"
			data-ad-format="auto"></ins>
		<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
	</div>

	<nav class="navbar navbar-light">
		<a class="navbar-brand">.APP 域名</a>
	</nav>

	<div class="table-responsive">
		<table class="table table-striped">
		  <thead>
			<tr>
			  <th scope="col">#</th>
			  <th scope="col">域名</th>
			  <th scope="col">释义</th>
			  <th scope="col">状态</th>
			  <th scope="col" v-if="!mobi()">PING</th>
			</tr>
		  </thead>
		  <tbody>
			<tr v-for="(d, i) in app">
			  <th scope="row">{{i + 1}}</th>
			  <td><a v-bind:href="'//' + d[0]">{{d[0]}}</a></td>
			  <td>{{d[1]}}</td>
			  <td>{{d[2] ? '已出' : '可售'}}</td>
			  <td v-bind:domain="d[0]" v-if="!mobi()"></td>
			</tr>
		  </tbody>
		</table>
	</div>
	
	<div class="adsense">
		<!-- 域名停靠_自适应 -->
		<ins class="adsbygoogle"
			style="display:block"
			data-ad-client="ca-pub-7104481011578148"
			data-ad-slot="6462214578"
			data-ad-format="auto"></ins>
		<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
	</div>
	
	<nav class="navbar navbar-light">
		<a class="navbar-brand">.COM 域名</a>
	</nav>

	<div class="table-responsive">
		<table class="table table-striped">
		  <thead>
			<tr>
			  <th scope="col">#</th>
			  <th scope="col">域名</th>
			  <th scope="col">释义</th>
			  <th scope="col">状态</th>
			  <th scope="col" v-if="!mobi()">PING</th>
			</tr>
		  </thead>
		  <tbody>
			<tr v-for="(d, i) in com">
			  <th scope="row">{{i + 1}}</th>
			  <td><a v-bind:href="'http://' + d[0]">{{d[0]}}</a></td>
			  <td>{{d[1]}}</td>
			  <td>{{d[2] ? '已出' : '可售'}}</td>
			  <td v-bind:domain="d[0]" v-if="!mobi()"></td>
			</tr>
		  </tbody>
		</table>
	</div>

	<nav class="navbar navbar-light">
		<a class="navbar-brand" href="#">带价咨询</a>
	</nav>
	
	<div class="row mb-3">
		<div class="col">
			<div class="card">
			<div class="card-body">
				<h6 class="text-secondary">E-Mail</h6>
				<h5>veryide#qq.com</h5>
			</div>
			</div>
		</div>
		<div class="col">
			<div class="card">
			<div class="card-body">
				<h6 class="text-secondary">WeChat</h6>
				<h5>veryide</h5>
			</div>
			</div>
		</div>
	</div>
	
	<div class="adsense">
		<!-- 域名停靠_自适应 -->
		<ins class="adsbygoogle"
			style="display:block"
			data-ad-client="ca-pub-7104481011578148"
			data-ad-slot="6462214578"
			data-ad-format="auto"></ins>
		<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
	</div>

	<hr />

	<footer class="text-center">
		<p class="text-muted">&copy; VeryIDE</p>
	</footer>

</div>

<code hidden="analysis">
<script type="text/javascript">
var app = new Vue({
	el: '#app',
	data: {
		app: [
			['aibang.app','爱帮',''],
			['aidai.app','爱戴、爱贷',''],
			['anfan.app','安防',''],
			['anfeng.app','安锋、安丰',''],
			['anqu.app','安趣',''],
			['aliqin.app','阿里亲',''],
			['bami.app','巴米',''],
			['biai.app','必爱、币爱',''],
			['bibibi.app','哔哔哔',''],
			['biqi.app','必起、荸荠',''],
			['demoxx.app','Demo++',''],
			['didadi.app','滴答滴',''],
			['dididi.app','滴滴滴',''],
			['eland.app','依恋',''],
			['facexx.app','Face++',''],
			['fanghua.app','芳华',''],
			['fanhua.app','繁花、泛华',''],
			['fengche.app','风车',''],
			['fengqu.app','丰趣、风趣',''],
			['fenmo.app','粉墨、粉末',''],
			['fenqian.app','分钱',''],
			['glee.app','欢乐合唱团',''],
			['gumi.app','谷米、股迷',''],
			['haoba.app','好吧',''],
			['haohao.app','好好、好号',''],
			['haotao.app','好淘',''],
			['haozan.app','好赞',''],
			['kalong.app','卡农',''],
			['kaike.app','开课',''],
			['klass.app','克拉斯',''],
			['laiqian.app','来钱',''],
			['lehu.app','乐虎、乐乎',''],
			['malong.app','码农',''],
			['maxcom.app','美思康',''],
			['maxthon.app','傲游',''],
			['mibao.app','密保、蜜宝',''],
			['midai.app','米贷、米袋',''],
			['nece.app','内测',''],
			['nene.app','内内、呢呢',''],
			['oray.app','花生壳、向日葵',''],
			['paidai.app','派代、拍代',''],
			['paibi.app','派币、排比',''],
			['paixia.app','拍下',''],
			['pingxx.app','Ping++',''],
			['qianba.app','钱吧',''],
			['qinba.app','秦巴、琴吧',''],
			['qingba.app','清吧',''],
			['qingou.app','亲购、亲狗',''],
			['qinguo.app','秦国',''],
			['qinhua.app','清华',''],
			['ruixin.app','瑞星、瑞鑫',''],
			['ruixing.app','瑞幸',''],
			['songguo.app','松果',''],
			['tanche.app','谈车',''],
			['tangu.app','谈股',''],
			['tanbi.app','谈币',''],
			['tanqian.app','谈钱',''],
			['tiaodan.app','跳蛋、挑单',''],
			['joygame.app','锦游、英雄互娱',''],
			['gamejoy.app','卓趣游戏',''],
			['xdev.app','',''],
			['xiaba.app','下吧、下巴',''],
			['xiabibi.app','瞎哔哔',''],
			['xiaoqian.app','小钱',''],
			['xiba.app','西巴、戏吧',''],
			['xidai.app','喜贷、喜袋',''],
			['xigu.app','硒鼓、矽谷',''],
			['xindian.app','新店、心电',''],
			['xingbao.app','星宝',''],
			['xingu.app','新股',''],
			['ximi.app','西米、戏迷',''],
			['xinqian.app','信签、新钱',''],
			['xinqu.app','新区、新曲',''],
			['xinyi.app','信义、心意',''],
			['xinyou.app','新游',''],
			['xiqi.app','稀奇、喜气',''],
			['xiqian.app','喜钱',''],
			['xitu.app','稀土',''],
			['xixigu.app','嬉戏谷','']
		],
		com: [
			['geedou.com','吉豆',''],
			['geeduo.com','吉多',''],
			['geezan.com','吉赞、集赞',''],
			['hgbang.com','',''],
			['keegou.com','可购',''],
			['keeguo.com','可多',''],
			['mopland.com','','']
		]
	},
	methods : {
	
		file: function(){
			return location.protocol == 'file:';
		},
	
		mobi: function(){
			return /(iPhone|iPad|iPod|Android)/i.test( navigator.userAgent );
		},
	
		ping: function(s, n) {
			function t() {
				var e = new Date - r;
				n && n(e);
			}
			function e(){
				n && n('-');
			}
			this.img = new Image;
			var r = new Date;
			this.img.onload = t, this.img.src = s;
			this.img.onerror = e;
		},
	
		test: function( ret ){
		
			var self = this;
		
			for( var x = 0; x < ret.length; x++ ){
			
				(function( dom ){
				
					var src = '//' + dom + '/favicon.ico';					
					self.ping( src, function(e) {
						document.querySelector('[domain="'+ dom +'"]').innerHTML = e;
					});
				
				})( ret[x][0] );
			
			}
			
		}
	},
	mounted : function(){
		if( !this.file() && !this.mobi() ){
			this.test( this.app );
			this.test( this.com );		
		}
	}
});

/////////////////

var _hmt = _hmt || [];
(function() {
	var hm = document.createElement("script");
	hm.src = "https://hm.baidu.com/hm.js?c50c967bc9d0752cb5c490185a9a9b86";
	var s = document.getElementsByTagName("script")[0]; 
	s.parentNode.insertBefore(hm, s);
})();

</script>
</code>

</body>
</html>